*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.main {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  height: 100vh; }

.heading-1 {
  grid-row: 1/2;
  grid-column: 1/-1; }

.sound-container {
  grid-row: 2/-1; }
